
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ThirdParty/sol2"]
	path = ThirdParty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ThirdParty/lua"]
	path = ThirdParty/lua
	url = https://github.com/walterschell/Lua.git
[submodule "ThirdParty/zep"]
	path = ThirdParty/zep
	url = https://github.com/Rezonality/zep
[submodule "ThirdParty/HazelAudio"]
	path = ThirdParty/HazelAudio
	url = https://github.com/DezlowNG/HazelAudioCMake
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
